alabaster==0.7.12
alembic==1.4.3
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
antiorm==1.2.1
apispec==3.3.2
appbuilder==0.0.20191210.1
appdirs==1.4.4
argh==0.26.2
arrow==0.17.0
asgiref==3.2.10
asn1crypto==1.3.0
astropy==4.0.1.post1
atomicwrites==1.4.0
attrs==19.3.0
Authlib==0.15.2
Babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
backrefs==4.5
bcrypt==3.1.7
beautifulsoup4==4.9.1
bkcharts==0.2
bleach==3.1.5
blinker==1.4
Bootstrap-Flask==1.5
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
BTrees==4.7.2
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloud-storage==1.6.0
clyent==1.2.2
colorama==0.4.3
colour==0.1.5
comapsmarthome-security==0.0.7
comtypes==1.1.7
conda==4.9.2
conda-build==3.18.11
conda-package-handling==1.7.0
conda-verify==3.4.2
confusable-homoglyphs==3.2.0
contextlib2==0.6.0.post1
cryptography==2.9.2
cycler==0.10.0
cytoolz==0.10.1
dateparser==1.0.0
db==0.1.1
db.py==0.5.3
decorator==4.4.2
defusedxml==0.6.0
delivery==0.0.2
distlib==0.3.1
Django==3.1.2
django-registration==3.1.1
dnspython==2.0.0
docutils==0.15.2
email-validator==1.1.1
encode==0.0.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8==3.8.3
Flask==1.0.2
Flask-Admin==1.5.6
Flask-AppBuilder==3.1.0
Flask-Babel==1.0.0
Flask-BabelEx==0.9.4
Flask-Blogging==1.2.2
flask-codemirror==1.1
Flask-Ext==0.1
Flask-FileUpload==0.5.0
Flask-GoogleStorage==0.1.2
Flask-JWT-Extended==3.24.1
Flask-Logging==0.1.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Moment==0.10.0
Flask-OpenID==1.2.5
Flask-Principal==0.4.0
Flask-Security==3.0.0
flask-shortcut==0.4.0
Flask-SQLAlchemy==2.4.4
Flask-User==1.0.2.2
Flask-WTF==0.14.2
fsspec==0.7.4
future==0.18.2
generate-password==1.0.0
glob2==0.7
gmpy2==2.0.8
google-api-core==1.22.4
google-auth==1.22.1
google-cloud-core==1.4.3
google-cloud-storage==1.31.2
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
graphql-core==3.1.2
greenlet==0.4.16
gs-pip-install==0.1.12
h11==0.8.1
h2==3.2.0
h5py==2.10.0
HeapDict==1.0.1
hpack==3.0.0
hyperframe==5.2.0
ibm-db==3.0.2
ibm-db-sa==0.3.5
imagesize==1.2.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jin2for==0.1.0
Jinja2==2.11.2
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.33.0+1.g022ab0f
locket==0.2.0
logilab-common==1.8.0
loginform==1.2.0
Mako==1.1.3
MarkupSafe==1.1.1
marshmallow==3.8.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.23.1
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
moment==0.11
more-itertools==8.4.0
mpmath==1.1.0
msgpack==1.0.0
multidimensional-urlencode==0.0.4
multipledispatch==0.6.0
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.7
nose==1.3.7
notebook==6.0.3
numba==0.50.1
numexpr==2.7.1
numpy==1.18.5
olefile==0.46
packaging==20.4
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
partd==1.1.0
passlib==1.7.4
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
persistent==4.6.4
pexpect==4.8.0
pickleshare==0.7.5
pkginfo==1.5.0.1
pluggy==0.13.1
ply==3.11
prettytable==0.7.2
prison==0.1.3
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.13.0
psutil==5.7.0
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybars3==0.9.7
pycodestyle==2.6.0
pycosat==0.6.3
pycurl==7.43.0.5
pydba==1.2.1
pyflakes==2.2.0
Pygments==2.6.1
PyJWT==1.7.1
pylint-plugin-utils==0.6
pylint-werkzeug==0.1
PyMeta3==0.5.1
pymongo==3.11.0
pyodbc===4.0.0-unsupported
pyparsing==2.4.7
pyreadline==2.1
pyrsistent==0.16.0
PySocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.1
python-editor==1.0.4
python-gettext==4.0
python3-openid==3.2.0
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
QtAwesome==0.7.2
QtPy==1.9.0
rfc3986==1.4.0
rope==0.17.0
rsa==4.6
Rtree==0.9.4
ruamel-yaml==0.15.87
s3transfer==0.3.3
scikit-image==0.16.2
seaborn==0.10.1
Send2Trash==1.5.0
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.13
six==1.15.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
speaklater==1.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy-Utils==0.36.8
sqlparse==0.4.1
statsmodels==0.11.1
tables==3.6.1
tblib==1.6.0
tenacity==6.2.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
times==0.7
toolz==0.10.0
tornado==6.0.4
traitlets==4.3.3
transaction==3.0.0
tzlocal==2.1
ujson==1.35
unicodecsv==0.14.1
Unidecode==1.1.1
url-for-s3==0.1.2
urllib3==1.25.9
virtualenv==20.0.35
waitress==1.4.4
webencodings==0.5.1
Werkzeug==0.16.0
werkzeug-graphql==1.1.3
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.9
xlwings==0.19.5
xlwt==1.3.0
xmltodict==0.12.0
zc.lockfile==2.0
zc.relation==1.1.post2
zc.relationship==2.0.post1
ZConfig==3.5.0
zdaemon==4.3
ZEO==5.2.2
zict==2.0.0
zipp==3.1.0
ZODB==5.6.0
ZODB3==3.11.0
zodbpickle==2.0.0
zope.annotation==4.7.0
zope.app.appsetup==4.2.0
zope.app.component==4.1.0
zope.app.container==4.0.0
zope.app.debug==4.0.0
zope.app.dependable==4.1.0
zope.app.intid==3.7.1
zope.app.keyreference==3.6.1
zope.app.pagetemplate==4.0.0
zope.app.publication==4.5
zope.app.testing==4.0.0
zope.authentication==4.4.0
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.component==4.6.2
zope.componentvocabulary==2.2.0
zope.configuration==4.4.0
zope.container==4.4.0
zope.contenttype==4.5.0
zope.copy==4.2
zope.copypastemove==4.1.0
zope.datetime==4.2.0
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.dublincore==4.3.0
zope.error==4.5.0
zope.event==4.4
zope.exceptions==4.4
zope.filerepresentation==5.0.0
zope.formlib==4.7.1
zope.hookable==5.0.1
zope.i18n==4.7.0
zope.i18nmessageid==5.0.1
zope.index==5.0.0
zope.interface==4.7.1
zope.intid==4.3.0
zope.keyreference==4.2.0
zope.lifecycleevent==4.3
zope.location==4.2
zope.minmax==2.2.0
zope.pagetemplate==4.5.0
zope.password==4.3.1
zope.processlifetime==2.3.0
zope.proxy==4.3.5
zope.publisher==5.2.1
zope.schema==6.0.0
zope.security==5.1.1
zope.session==4.4.0
zope.site==4.4.0
zope.size==4.3
zope.tal==4.4
zope.tales==5.1
zope.testing==4.7
zope.traversing==4.4.1
